@{
    ViewBag.Title = "InterPlay Remote Control - Demos";
}

<h2>Demos</h2>
<h3>@ViewBag.Message</h3>
@using (Html.BeginForm("Index", "Demos"))
{
    RemoteDemoControl.Models.DemosModel demosModel = new RemoteDemoControl.Models.DemosModel();
    foreach (string fileName in demosModel.DemoFileNames)
    {
        <div><input name="button" type="submit" value="@fileName" /></div>
    }
}
<p>
    Use one of the buttons above to switch to a different demo.
</p>
