@{
    ViewBag.Title = "InterPlay Remote Control - About";
}

<h2>About</h2>
<p>
    InterPlay Remote Control website created by Scott Gilroy.
</p>
<p>
    <a href="http://fluid.media.mit.edu/people/seth/current/interplay.html">InterPlay</a> system developed by Seth Hunter and Pol Pla.
</p>
