@{
    ViewBag.Title = "Remote Demo Control";
}

<h2>@ViewBag.Message</h2>
@using (Html.BeginForm("StartDemo", "Home"))
{
    <input type="submit" value="Start Demo" />
}
@using (Html.BeginForm("StopDemo", "Home"))
{
    <input type="submit" value="Stop Demo" />
}
@using (Html.BeginForm("FloorFlock", "Home"))
{
    <input type="submit" value="Floor Flock" />
}
@using (Html.BeginForm("AtriumFloorPlay", "Home"))
{
    <input type="submit" value="Atrium Floor Play" />
}
<p>
    This is a website for remotely controlling demos running on the server.
</p>
